body {
    background-color:#98c9d1 ;
    margin: 5px;
    padding: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    color: #513561;
    font-size: 35px;
    font-weight: bold;
    
}

p {
    font-family: Arial, sans-serif;
    color: #f4e6be;
    font-size: 14px;
    margin-top: 15px;
}
